{"collisionRects":[],"spawnPoints":[],"tiles": [], "fgTiles": [], "mgTiles": [], "checkpoints":[], "tempSpawnPoints": [],"bg":"#132b27","mob_bg":"#132b27","pxbg":"#0a1614","tint":"0.025, -0.025, -0.0125, 0","width":864,"height":384,"previewColRects":[{"x":19,"y":24,"w":2,"h":3,"normal":"bottom"}]}